<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/91e2998a-d362-4ac4-bc91-4f52bfc7483b/resourcegroups/VS-tyficonsulting-Group/providers/Microsoft.ContainerRegistry/registries/TyFiConsulting</ContainerResourceId>
    <ContainerResourceName>TyFiConsulting</ContainerResourceName>
    <Subscription>Pay-As-You-Go</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>tyficonsulting.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>simple-hello-world-container</ContainerName>
    <EnvironmentName>managedEnvironment-VStyficonsultin-867c</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://docker-api-test.politebeach-6850d634.westus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/91e2998a-d362-4ac4-bc91-4f52bfc7483b/resourceGroups/VS-tyficonsulting-Group/providers/Microsoft.App/containerapps/docker-api-test</ResourceId>
    <ResourceGroup>VS-tyficonsulting-Group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>